@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
.col-sm-6 {
  width: 50%; }

.col-sm-12 {
  width: 100%; }

.col-sm-8 {
  width: calc(100%/3*2); }

.col-sm-4 {
  width: calc(100%/3); }

.col-sm-3 {
  width: calc(100%/4); }

.col-sm-2 {
  width: calc(100%/6); }

.col-sm-10 {
  width: calc(100%/6*5); }

.col-sm-2, .col-sm-4, .col-sm-6, .col-sm-3, .col-sm-12, .col-sm-8, .col-sm-10 {
  float: left;
  padding: 0 0.5rem;
  transition: all 0.3s ease; }

/* Form */
.col-sm-12:last-child {
  float: none;
  outline: none; }

.h1 {
  color: #5a5c69 !important;
  font-size: 1.75rem;
  margin-bottom: 1.5rem; }

@media screen and (max-width: 1024px) {
  .col-sm-2, .col-sm-4, .col-sm-6, .col-sm-3, .col-sm-12, .col-sm-8, .col-sm-10 {
    width: 100%;
    transition: all 0.3 ease; } }
@media screen and (max-width: 767px) {
  .form-responsive {
    padding: 0 10% !important; }

  .col-sm-2, .col-sm-4, .col-sm-6, .col-sm-3, .col-sm-12, .col-sm-8, .col-sm-10 {
    width: 100%;
    transition: all 0.3 ease; } }
/* BODY CLASSES */
/* CARD
-------------------------------------------------------------------*/
.card {
  width: 100%;
  background: var(--page-content-blockColor);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  color: #858796;
  display: inline-block;
  margin-bottom: 1.5rem; }
  .card .card-header {
    border-radius: calc(.35rem - 1px) calc(.35rem - 1px) 0 0;
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0; }
    .card .card-header h6 {
      color: var(--page-content-txtColor) !important;
      font-weight: 700 !important;
      font-size: 1rem;
      text-transform: uppercase; }
  .card .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem; }
    .card .card-body .table-responsive {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch; }

/* MQ RULES */
@media screen and (max-width: 767px) {
  .page-content .card {
    grid-gap: 10px; } }
/* BODY CLASSES */
:root {
  --page-header-bgColor: #242e42;
  --page-header-bgColor-hover: #1d2636;
  --page-header-txtColor: #dde9f8;
  --page-header-headingColor: #7889a4;
  --page-header-width: 220px;
  --page-content-bgColor: #f0f1f6;
  --page-content-txtColor: #171616;
  --page-content-blockColor: #fff;
  --page-content-font: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --white: #fff;
  --black: #333;
  --blue: #00b9eb;
  --red: #ec1848;
  --border-radius: 4px;
  --box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.075);
  --switch-bgLightModeColor: #87cefa;
  --switch-sunColor: gold;
  --switch-moonColor: #f4f4f4;
  --switch-bgDarkModeColor: #1f1f27; }

body {
  margin: 0;
  font-family: var(--page-content-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
  text-align: left;
  background-color: #fff; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.2; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; }

::placeholder {
  color: #fff;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ul, li {
  list-style: none; }

a,
button {
  color: inherit; }

a {
  text-decoration: none; }

button {
  background: none;
  cursor: pointer; }

input {
  -webkit-appearance: none; }

button,
input[type="search"] {
  border: none; }

svg {
  fill: var(--white);
  display: block;
  margin: auto; }

/* Scroll Bar */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5; }

::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #242e42; }

/* PAGE HEADER
----------------------------------------------------------------------*/
.page-header {
  position: fixed;
  width: 100%;
  height: 6rem;
  background-color: var(--page-header-bgColor);
  color: var(--page-header-txtColor);
  font-family: var(--page-content-font);
  padding: 0 10rem;
  z-index: 999; }
  .page-header .page-logo {
    margin: calc((6rem - 49px)/2) 0;
    position: relative;
    float: left; }
  .page-header .page-menu .site-nav {
    display: flex;
    float: right; }
    .page-header .page-menu .site-nav .nav-item {
      width: 10rem;
      display: block;
      position: relative; }
      .page-header .page-menu .site-nav .nav-item.active a, .page-header .page-menu .site-nav .nav-item a:hover {
        opacity: 1 !important;
        background-color: transparent; }
        .page-header .page-menu .site-nav .nav-item.active a:after, .page-header .page-menu .site-nav .nav-item a:hover:after {
          height: 3px !important; }
      .page-header .page-menu .site-nav .nav-item .nav-link {
        display: block;
        padding: 1rem 2rem;
        text-align: center;
        font-weight: 400;
        position: relative;
        text-decoration: none;
        outline: none;
        border-right: 1px solid rgba(255, 255, 255, 0.12);
        height: 6rem;
        font-size: 1rem;
        opacity: 0.6; }
        .page-header .page-menu .site-nav .nav-item .nav-link i {
          display: block;
          font-size: 1.5rem;
          margin: 5px 0;
          text-align: center;
          color: var(--page-header-txtColor); }
        .page-header .page-menu .site-nav .nav-item .nav-link:after {
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          content: '';
          width: 100%;
          height: 0;
          margin: 0 auto;
          background-color: var(--blue);
          -webkit-transition: all .2s ease-in-out;
          -moz-transition: all .2s ease-in-out;
          -o-transition: all .2s ease-in-out;
          -ms-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out; }
        .page-header .page-menu .site-nav .nav-item .nav-link:hover {
          color: var(--blue) !important;
          background-color: var(--page-header-bgColor-hover) !important; }
          .page-header .page-menu .site-nav .nav-item .nav-link:hover i {
            color: var(--blue) !important; }
    .page-header .page-menu .site-nav .nav-item:last-child a {
      border-right: 0; }

/* PAGE CONTENT
----------------------------------------------------------------------*/
.page-content {
  padding-top: 6rem; }
  .page-content .page-cover {
    width: 100%;
    height: 580px;
    position: relative; }
    .page-content .page-cover .text-cover {
      width: 35%;
      margin: 100px 150px;
      height: 380px;
      position: absolute;
      text-align: center; }
      .page-content .page-cover .text-cover h1 {
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 1.5rem;
        margin-top: 4rem; }
      .page-content .page-cover .text-cover p {
        font-size: 1.2rem;
        line-height: 1.2;
        margin-bottom: 5rem; }
      .page-content .page-cover .text-cover button {
        outline: none;
        padding: 1rem 2.5rem;
        font-size: 1rem;
        background: var(--page-header-bgColor);
        color: var(--page-content-blockColor);
        font-weight: 700;
        border-radius: 5px;
        transition: all 0.1s ease; }
      .page-content .page-cover .text-cover button:hover {
        background-color: var(--page-header-bgColor-hover);
        color: var(--blue); }
    .page-content .page-cover img {
      position: absolute;
      right: 6rem;
      top: 5rem; }

/* -------------- SUBPAGE -------------- */
.pt-wrapper {
  position: fixed;
  width: calc(100vw - 12rem);
  height: calc(100vh - 10rem);
  margin: 2rem 6rem;
  top: 6rem;
  background: var(--page-header-bgColor);
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  visibility: hidden;
  display: flex;
  backface-visibility: hidden;
  transition: all 0.5s ease; }
  .pt-wrapper .subpage {
    position: relative;
    width: 100%;
    margin: 20px;
    -webkit-perspective: 1500px;
    -moz-perspective: 1500px;
    perspective: 1500px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden; }
    .pt-wrapper .subpage .pt-page {
      min-height: 100%;
      width: 100%;
      position: relative;
      top: auto;
      left: 0;
      overflow: hidden;
      -webkit-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      transform-style: preserve-3d; }
      .pt-wrapper .subpage .pt-page .border-block-top {
        display: inline-block;
        position: absolute;
        background: 0 0;
        width: 110px;
        height: 110px;
        border-top: 3px solid #00b9eb;
        border-left: 3px solid #00b9eb; }
      .pt-wrapper .subpage .pt-page .section-inner {
        position: relative;
        padding: 20px 60px 50px; }
        .pt-wrapper .subpage .pt-page .section-inner .section-header {
          text-align: center; }
          .pt-wrapper .subpage .pt-page .section-inner .section-header .section-title {
            display: block;
            width: 100%;
            position: relative;
            margin: 12px 0 0;
            font-size: 3rem;
            line-height: 1.1em;
            color: #eee; }
          .pt-wrapper .subpage .pt-page .section-inner .section-header .section-description {
            display: inline-block;
            position: relative;
            margin: 0;
            color: #fff;
            background-color: #00b9eb;
            font-size: 1rem;
            font-weight: 200;
            text-align: center;
            z-index: 2;
            padding: 2px 10px; }

#pt-wrapper-0 {
  -webkit-transform: translateY(100vh);
  transform: translateY(100vh); }

#pt-wrapper-1 {
  -webkit-transform: translateX(-100vw);
  transform: translateX(-100vw); }

#pt-wrapper-2 {
  -webkit-transform: translateX(100vw);
  transform: translateX(100vw); }

.pt-page-current {
  -webkit-transform: translateX(0) translateY(0) !important;
  transform: translateX(0) translateY(0) !important;
  transition: all 0.5s ease;
  z-index: 90; }

.pt-page-current, .pt-wrapper {
  visibility: visible; }

/* -------------- FORM -------------- */
.col-sm-12:last-child button {
  margin: 60px 0 30px 0; }

.form-responsive {
  padding: 0 15%; }
  .form-responsive .input-block {
    border: 2px solid #00b9eb;
    width: 100%;
    height: 40px;
    padding: 25px;
    position: relative;
    margin-bottom: 20px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
    .form-responsive .input-block.notes {
      height: 98px; }
    .form-responsive .input-block.textarea {
      height: auto; }
      .form-responsive .input-block.textarea .form-control {
        height: auto;
        resize: none; }
    .form-responsive .input-block.focus {
      border: 2px solid #00b9eb; }
    .form-responsive .input-block label {
      padding: 0 10px;
      background: var(--page-header-bgColor);
      position: absolute;
      left: 8px;
      top: 20px;
      display: block;
      margin: 0;
      font-weight: 700;
      z-index: 1;
      color: #FFFFFF;
      font-size: 1.2em;
      line-height: 10px; }
      .form-responsive .input-block label span {
        color: #ec1848; }
    .form-responsive .input-block select.form-control option {
      width: calc(100% + 50px);
      height: 40px;
      font-size: 1.2em;
      font: 1.2em/1.5 'Nunito';
      color: var(--page-content-txtColor); }
    .form-responsive .input-block .form-control {
      background-color: transparent;
      box-shadow: none;
      color: #fff;
      font: 1.2em/1.5 'Nunito';
      height: 40px;
      padding: 0;
      position: relative;
      top: -20px;
      z-index: 2;
      width: 100%;
      outline: none;
      border: 0;
      transition: color 0.3s ease; }
      .form-responsive .input-block .form-control:focus label {
        top: 0; }
  .form-responsive .square-button {
    background-color: var(--page-header-bgColor);
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 0 60px;
    height: 60px;
    border: 2px solid #00b9eb;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none; }
    .form-responsive .square-button:hover, .form-responsive .square-button:focus {
      background-color: #00b9eb; }

.page-2 .input-block {
  margin-top: 20px; }
  .page-2 .input-block input {
    font-size: 1.2rem !important;
    font-family: "Nunito" !important; }

.check-box, .block-choice {
  display: flex; }
  .check-box input[type="checkbox"], .block-choice input[type="checkbox"] {
    width: 1.2rem;
    height: 1.2rem;
    background: transparent;
    border: 2px solid #00b9eb;
    border-radius: 3px;
    cursor: pointer;
    outline: none; }
    .check-box input[type="checkbox"]:checked, .block-choice input[type="checkbox"]:checked {
      color: #fff;
      background-color: #00b9eb;
      font: normal normal normal 0.8rem/1.2 FontAwesome;
      font-weight: 400;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-align: center; }
      .check-box input[type="checkbox"]:checked:after, .block-choice input[type="checkbox"]:checked:after {
        content: '\f00c'; }
    .check-box input[type="checkbox"]:not(:disabled):checked:hover:after, .block-choice input[type="checkbox"]:not(:disabled):checked:hover:after {
      content: '\f00c'; }
  .check-box label, .block-choice label {
    margin-left: 10px;
    line-height: 1.2;
    color: #fff;
    cursor: pointer; }

.input-block-choice {
  margin-bottom: 10px;
  display: inline-block;
  padding: 0 10%; }
  .input-block-choice .block-choice {
    padding: 5px;
    width: 48%;
    float: left;
    display: block;
    text-align: left;
    margin: 0 1%; }
    .input-block-choice .block-choice input[type="checkbox"] {
      float: right;
      margin: 5px; }

.row-1 {
  width: 100% !important; }

.error-inf {
  font-size: 1.2rem;
  margin-top: 30px;
  color: #ec1848;
  font-weight: 700; }

.object {
  margin-bottom: 20px;
  text-align: left;
  font-size: 1.2em; }
  .object p {
    line-height: 1.5;
    margin-bottom: 10px; }
  .object label {
    cursor: pointer;
    margin-left: 10px; }
  .object input[type=radio] {
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #fff;
    border: 3px #00b9eb solid;
    outline: none;
    cursor: pointer; }
  .object input[type="radio"]:checked {
    background-color: #00b9eb;
    border: 3px solid #fff; }
  .object label + input[type="radio"]:checked {
    background-color: #00b9eb;
    border: 3px solid #fff; }

/* STEP */
@-webkit-keyframes part {
  0%, 100% {
    box-shadow: 0 0 0 0 #fff, 0 0 0 0 #00b9eb, 0 0 0 0 #00b9eb; }
  50% {
    box-shadow: 0 0 0 2px #ffffff, 0 0 3px 2px #00b9eb, 0 0 9px 0 #00b9eb; } }
@-moz-keyframes part {
  0%, 100% {
    box-shadow: 0 0 0 0 #fff, 0 0 0 0 #00b9eb, 0 0 0 0 #00b9eb; }
  50% {
    box-shadow: 0 0 0 2px #ffffff, 0 0 3px 2px #00b9eb, 0 0 9px 0 #00b9eb; } }
@keyframes part {
  0%, 100% {
    box-shadow: 0 0 0 0 #fff, 0 0 0 0 #00b9eb, 0 0 0 0 #00b9eb; }
  50% {
    box-shadow: 0 0 0 2px #ffffff, 0 0 3px 2px #00b9eb, 0 0 9px 0 #00b9eb; } }
.timeline_card {
  position: relative;
  padding: 1.5rem;
  height: 8rem;
  overflow: hidden;
  transition: all 0.2s ease; }

.timeline_label {
  cursor: pointer;
  position: relative;
  width: 50%;
  float: left;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  padding-right: 3%;
  letter-spacing: 1px;
  font-size: 1rem;
  color: #fff; }

.timeline_label:before {
  content: "";
  position: absolute;
  z-index: 1;
  right: 50%;
  top: 40px;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #fff;
  border: 3px #00b9eb solid; }

.timeline_info {
  text-align: center;
  color: #eee;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  display: flex;
  overflow: hidden;
  max-height: 0;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

.timeline_info.timeline_info_active {
  max-height: 180vh;
  transition: all 0.5s ease-in; }

.timeline_line {
  position: absolute;
  right: 10%;
  left: 10%;
  top: 4.5rem;
  border-bottom: 5px #eee solid; }

.timeline_line:before {
  content: "";
  position: absolute;
  width: 0;
  height: 5px;
  background-color: #00b9eb;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.timeline_input[type=radio] {
  display: none; }

.timeline_input[type=radio]:checked + .timeline_label {
  color: #fff; }

.timeline_input[type=radio]:checked + .timeline_label::before {
  background-color: #00b9eb;
  -moz-animation: part 1.6s infinite ease-in-out;
  -webkit-animation: part 1.6s infinite ease-in-out;
  animation: part 1.6s infinite ease-in-out; }

.card-body {
  position: relative; }
  .card-body .form-responsive .input-block label {
    font-weight: 400 !important; }
  .card-body p {
    text-align: left; }

.check-box, .page-2 {
  font-size: 1.2rem; }

.timeline_input[type=radio]:nth-of-type(2):checked + .timeline_label + .timeline_line::before {
  width: 100%; }

.timeline_input[type=radio]:nth-of-type(1):checked + .timeline_label + .timeline_input + .timeline_label + .timeline_line::before {
  width: 50%; }

.contact {
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
  font-weight: 400;
  padding: 0 15%;
  margin-top: 3rem; }

@-webkit-keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100vw); }
  to {
    -webkit-transform: translateX(0%); } }
@keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100vw); }
  to {
    -webkit-transform: translateX(0%);
    transform: translateX(0%); } }
@-webkit-keyframes moveFromLeft {
  from {
    -webkit-transform: translateX(-100vw); }
  to {
    -webkit-transform: translateX(0%); } }
@keyframes moveFromLeft {
  from {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw); }
  to {
    -webkit-transform: translateX(0%);
    transform: translateX(0%); } }
@-webkit-keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(100vh); }
  to {
    -webkit-transform: translateY(0); } }
@keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh); }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@-webkit-keyframes scaleDown {
  to {
    opacity: 0;
    -webkit-transform: scale(0.8); } }
@keyframes scaleDown {
  to {
    opacity: 0;
    -webkit-transform: scale(0.8);
    transform: scale(0.8); } }
.pt-page-moveFromLeft {
  -webkit-animation: moveFromLeft .6s ease both;
  animation: moveFromLeft .6s ease both; }

.pt-page-moveFromRight {
  -webkit-animation: moveFromRight .6s ease both;
  animation: moveFromRight .6s ease both; }

.pt-page-moveFromBottom {
  -webkit-animation: moveFromBottom .6s ease both;
  animation: moveFromBottom .6s ease both; }

.pt-page-scaleDown {
  -webkit-animation: scaleDown .7s ease both;
  animation: scaleDown .7s ease both; }

#pt-wrapper-0 .col-xl-4 {
  display: flex;
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  padding-right: .75rem;
  padding-left: .75rem; }
#pt-wrapper-0 .contact {
  padding: 0 5% !important; }
  #pt-wrapper-0 .contact h1 {
    font-size: 2rem;
    border-left: 5px solid #00b9eb;
    padding-left: 20px;
    margin-bottom: 20px; }
  #pt-wrapper-0 .contact p {
    font-style: italic;
    padding-left: .75rem; }
#pt-wrapper-0 .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -.75rem;
  margin-left: -.75rem;
  margin-bottom: 2rem !important; }
#pt-wrapper-0 .border-left {
  border-left: 0.25rem solid #00b9eb !important;
  padding-bottom: 0.5rem !important;
  padding-top: 0.5rem !important;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.1) !important; }
#pt-wrapper-0 .text-xs {
  font-size: .7rem;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  color: var(--page-content-txtColor); }
#pt-wrapper-0 .text-ms {
  font-weight: 700 !important;
  font-size: 1.25rem; }
#pt-wrapper-0 .card-body {
  display: flex;
  flex-wrap: wrap;
  align-items: center !important; }
#pt-wrapper-0 .col-left {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  margin-right: 0.5rem !important; }
#pt-wrapper-0 .col-right {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
  font-weight: 900;
  color: #dddfeb !important;
  font-size: 2em; }

/* MQ RULES */
@media screen and (max-width: 767px) {
  .form-responsive {
    padding: 0 10% !important; } }
/* BODY CLASSES */
